.pokemon{
  border: 2px green solid;
  background-color: yellow;
  display: inline-block;
  padding: 3px;
  margin: 2px;
  width: 125px;
  .name{
    color: purple;
  }
  .image{
    height: 100px;
    border: 1px blue solid;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .stats{

  }
}
